{
  "openapi": "3.0.0",
  "info": {
    "title": "Sales CoPilot API",
    "version": "1.0.0",
    "description": "REST API for Sales CoPilot \u2014 an AI-powered presentation platform with narrated slides, live Q&A, and deck management.\n\n**Authentication**: Most endpoints require a session cookie obtained from `POST /api/auth/login`. Presentation playback endpoints (`/api/qa`, `/api/narration/*`) also accept a `presentationId` for unauthenticated viewer access.",
    "contact": {
      "name": "Demand IQ",
      "url": "https://demand-iq.com"
    }
  },
  "servers": [
    {
      "url": "https://app.demand-iq.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Decks",
      "description": "Manage presentation decks"
    },
    {
      "name": "Slides",
      "description": "Manage slides within a deck"
    },
    {
      "name": "FAQs",
      "description": "Manage pre-built Q&A pairs"
    },
    {
      "name": "Branding",
      "description": "Colors, logo, and call-to-action configuration"
    },
    {
      "name": "Q&A",
      "description": "Live question answering and Q&A settings"
    },
    {
      "name": "Narration",
      "description": "Text-to-speech synthesis"
    },
    {
      "name": "Presentations",
      "description": "Create and manage personalized presentation instances"
    },
    {
      "name": "Generation",
      "description": "AI-powered content generation from slide images"
    },
    {
      "name": "Images",
      "description": "Image upload and management"
    },
    {
      "name": "Voices",
      "description": "Available TTS voices"
    },
    {
      "name": "Utility",
      "description": "Health check and diagnostics"
    },
    {
      "name": "Authentication",
      "description": "Session-based login, logout, and identity"
    },
    {
      "name": "Company",
      "description": "Organization contact info and knowledge base"
    },
    {
      "name": "Notifications",
      "description": "Event subscriptions and delivery log"
    },
    {
      "name": "Contracts",
      "description": "Contract template import and e-signature"
    },
    {
      "name": "Fonts",
      "description": "Available Google Fonts for branding"
    },
    {
      "name": "Roof Measurements",
      "description": "Request and track automated roof measurements"
    },
    {
      "name": "Actions",
      "description": "Voice/text command detection for presentation control"
    },
    {
      "name": "Appointments",
      "description": "Appointment scheduling for presentation viewers"
    },
    {
      "name": "Activity",
      "description": "Recent presentation activity feed"
    },
    {
      "name": "Onboarding",
      "description": "Per-user product onboarding milestones (ENG-641). Milestone endpoints are idempotent and are called by the app UI \u2014 they should not be treated as tenant-integration surface."
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "session",
        "description": "Session cookie obtained from `POST /api/auth/login`."
      },
      "presentationToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-presentation-token",
        "description": "HMAC-signed token scoped to a specific presentation. Obtained from `POST /api/presentations/{presentationId}/events-token`."
      }
    },
    "schemas": {
      "ActivityEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string",
            "description": "Event type, e.g. presentation.opened, slide.viewed, contract.signed"
          },
          "payload": {
            "type": "object",
            "nullable": true,
            "description": "Event-specific data"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "presentationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "presentationName": {
            "type": "string",
            "description": "Homeowner full name derived from presentation data"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Homeowner address (street, city, state)"
          },
          "deckId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Template ID for deep-linking to the template editor"
          }
        },
        "required": [
          "id",
          "eventType",
          "occurredAt",
          "presentationName"
        ]
      },
      "WordTiming": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "startTime": {
            "type": "number",
            "description": "Start time in milliseconds"
          },
          "endTime": {
            "type": "number",
            "description": "End time in milliseconds"
          }
        },
        "required": [
          "word",
          "startTime",
          "endTime"
        ]
      },
      "Deck": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "structured",
              "image-based"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "properties": {
              "deckContext": {
                "type": "string",
                "description": "Background info used to guide AI narration generation"
              },
              "voiceProvider": {
                "type": "string",
                "enum": [
                  "elevenlabs",
                  "openai"
                ]
              }
            }
          },
          "createdBy": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID of the user who created the deck. Null for decks created before creator tracking was added."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "DeckSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "structured",
              "image-based"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "previewImageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Presigned URL for the first slide image"
          },
          "previewImageThumbUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Presigned URL for the 480px WebP thumbnail rendition of the first slide, sized for deck and template preview cards. Falls back to the full image URL when no thumbnail exists."
          },
          "generation": {
            "$ref": "#/components/schemas/GenerationStatus",
            "nullable": true,
            "description": "The latest unsettled generation job (pending, processing, or failed); null once it completed or if the deck was never generated"
          },
          "firstSlideType": {
            "type": "string",
            "enum": [
              "standard",
              "product_pricing_v1"
            ],
            "nullable": true,
            "description": "Slide type of the deck's first slide, or `null` if the deck has no slides. Used by clients to decide whether to render a product tier-card preview instead of the hero image."
          },
          "firstSlideProductData": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProductSlideData"
              }
            ],
            "nullable": true,
            "description": "Product slide configuration for the deck's first slide when `firstSlideType` is `product_pricing_v1`. `null` otherwise."
          },
          "brandingColors": {
            "type": "object",
            "nullable": true,
            "description": "Subset of the deck's branding palette used to render product slide previews. `null` if the deck has no branding configured.",
            "properties": {
              "primary": {
                "type": "string",
                "nullable": true,
                "example": "#1a73e8"
              },
              "neutral": {
                "type": "string",
                "nullable": true,
                "example": "#5f6368"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form labels stored on the deck metadata. Defaults to an empty array.",
            "default": []
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "isActive",
          "tags",
          "createdAt",
          "updatedAt"
        ]
      },
      "Slide": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slideId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "bullets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "narration_script": {
            "type": "string"
          },
          "slide_context": {
            "type": "string",
            "nullable": true
          },
          "audio_url": {
            "type": "string",
            "nullable": true,
            "description": "S3 key for the slide audio file"
          },
          "hero_img": {
            "type": "string",
            "nullable": true,
            "description": "S3 key for the slide image"
          },
          "hero_img_thumb": {
            "type": "string",
            "nullable": true,
            "description": "Presigned URL for the 480px WebP thumbnail rendition of the hero image, sized for editor rails and library grid tiles. Falls back to the full image URL when no thumbnail exists (legacy uploads, SVGs, and images already at or below 480px). Present on deck read endpoints only; omitted from slide create/update responses."
          },
          "wordTimings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordTiming"
            },
            "nullable": true
          },
          "orderIndex": {
            "type": "integer"
          },
          "slideType": {
            "type": "string",
            "enum": [
              "standard",
              "product_pricing_v1"
            ]
          }
        },
        "required": [
          "id",
          "slideId",
          "title",
          "bullets",
          "narration_script",
          "orderIndex",
          "slideType"
        ]
      },
      "BrandingPalette": {
        "type": "object",
        "properties": {
          "primary": {
            "type": "string",
            "example": "#1a73e8"
          },
          "primaryLight": {
            "type": "string",
            "example": "#4a9af5"
          },
          "accent": {
            "type": "string",
            "example": "#fbbc04"
          },
          "neutral": {
            "type": "string",
            "example": "#5f6368"
          },
          "text": {
            "type": "string",
            "example": "#202124"
          },
          "userMessage": {
            "type": "string",
            "nullable": true,
            "description": "Background color for homeowner chat message bubbles. Falls back to primary color if not set.",
            "example": "#1a73e8"
          },
          "assistantMessage": {
            "type": "string",
            "nullable": true,
            "description": "Background color for AI assistant chat message bubbles.",
            "example": "#f1f3f4"
          }
        },
        "required": [
          "primary",
          "primaryLight",
          "accent",
          "neutral",
          "text"
        ]
      },
      "BrandingCta": {
        "type": "object",
        "properties": {
          "headline": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "buttonText": {
            "type": "string"
          },
          "buttonUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "headline",
          "body",
          "buttonText"
        ]
      },
      "Branding": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deckId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "S3 key for logo image"
          },
          "avatar": {
            "type": "string",
            "nullable": true,
            "description": "S3 key for rep avatar image"
          },
          "chatName": {
            "type": "string",
            "nullable": true
          },
          "chatGreeting": {
            "type": "string",
            "nullable": true
          },
          "palette": {
            "$ref": "#/components/schemas/BrandingPalette"
          },
          "cta": {
            "$ref": "#/components/schemas/BrandingCta"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "deckId",
          "palette",
          "cta",
          "createdAt",
          "updatedAt"
        ]
      },
      "Faq": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deckId": {
            "type": "string",
            "format": "uuid"
          },
          "userQuestion": {
            "type": "string"
          },
          "cannedAnswer": {
            "type": "string"
          },
          "relatedSlideId": {
            "type": "string",
            "nullable": true
          },
          "audioUrl": {
            "type": "string",
            "nullable": true,
            "description": "S3 key for the pre-generated answer audio"
          },
          "wordTimings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordTiming"
            },
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "deckId",
          "userQuestion",
          "cannedAnswer",
          "createdAt",
          "updatedAt"
        ]
      },
      "QaSettings": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deckId": {
            "type": "string",
            "format": "uuid"
          },
          "resumePromptText": {
            "type": "string",
            "description": "Spoken prompt asking if the viewer wants to continue the presentation"
          },
          "resumeAudioUrl": {
            "type": "string",
            "nullable": true
          },
          "resumeVoiceId": {
            "type": "string",
            "nullable": true
          },
          "transitionPromptText": {
            "type": "string",
            "description": "Spoken bridge from Q&A back into the presentation"
          },
          "transitionAudioUrl": {
            "type": "string",
            "nullable": true
          },
          "transitionVoiceId": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "deckId",
          "resumePromptText",
          "transitionPromptText"
        ]
      },
      "HomeownerData": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "US"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        },
        "required": [
          "first_name",
          "address",
          "city",
          "country"
        ]
      },
      "Presentation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deckId": {
            "type": "string",
            "format": "uuid"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_started",
              "pending",
              "processing",
              "ready",
              "failed"
            ]
          },
          "homeownerData": {
            "$ref": "#/components/schemas/HomeownerData"
          },
          "voiceSettings": {
            "type": "object",
            "nullable": true
          },
          "languageSettings": {
            "type": "object",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID of the user who created the presentation. Null for presentations created by an automated integration rather than a user, and for presentations created before creator tracking was added."
          },
          "leadSource": {
            "type": "string",
            "nullable": true,
            "maxLength": 100,
            "description": "Origin of the lead this presentation was created for, captured once at creation time. The value names the Demand IQ application that recorded the prospect's first touch, such as `hero`, `web-lead`, `stella`, or `webhook`. `unknown` means the prospect exists but has no recorded first touch. Null for presentations created before lead source tracking was added, and for presentations where the origin could not be determined."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "deckId",
          "companyId",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "PresentationSlide": {
        "type": "object",
        "description": "A slide as served to the presentation viewer. Media URLs are presigned and expire, so responses containing this schema must not be cached.",
        "properties": {
          "id": {
            "type": "string"
          },
          "deckSlideId": {
            "type": "string",
            "format": "uuid"
          },
          "slideId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "bullets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "narrationScript": {
            "type": "string"
          },
          "audioUrl": {
            "type": "string",
            "description": "Presigned URL for the slide's narration audio. Expires after a short window."
          },
          "heroImg": {
            "type": "string",
            "description": "Presigned URL for the slide image. Expires after a short window."
          },
          "wordTimings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordTiming"
            }
          },
          "position": {
            "type": "integer"
          },
          "slideType": {
            "type": "string",
            "enum": [
              "standard",
              "product_pricing_v1"
            ],
            "description": "Defaults to `standard` when omitted."
          },
          "productData": {
            "$ref": "#/components/schemas/ProductSlideData"
          }
        },
        "required": [
          "id",
          "slideId",
          "title",
          "bullets",
          "narrationScript",
          "position"
        ]
      },
      "PresentationQaSettings": {
        "type": "object",
        "description": "Q&A prompt configuration as served to the presentation viewer, with presigned audio URLs.",
        "properties": {
          "resumePromptText": {
            "type": "string",
            "description": "Spoken prompt asking if the viewer wants to continue the presentation"
          },
          "resumePromptAudioUrl": {
            "type": "string",
            "nullable": true,
            "description": "Presigned URL for the resume prompt audio"
          },
          "resumePromptWordTimings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordTiming"
            },
            "nullable": true
          },
          "resumePromptVoiceId": {
            "type": "string",
            "nullable": true
          },
          "transitionPromptText": {
            "type": "string",
            "description": "Spoken bridge from Q&A back into the presentation"
          },
          "transitionPromptAudioUrl": {
            "type": "string",
            "nullable": true,
            "description": "Presigned URL for the transition prompt audio"
          },
          "transitionPromptWordTimings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordTiming"
            },
            "nullable": true
          },
          "transitionPromptVoiceId": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "resumePromptText",
          "transitionPromptText"
        ]
      },
      "NarrationResponse": {
        "type": "object",
        "properties": {
          "slideId": {
            "type": "string"
          },
          "script": {
            "type": "string"
          },
          "audioUrl": {
            "type": "string",
            "description": "Accessible URL for the synthesized audio"
          },
          "wordTimings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordTiming"
            }
          },
          "source": {
            "type": "string",
            "enum": [
              "elevenlabs",
              "openai",
              "fallback"
            ]
          }
        },
        "required": [
          "slideId",
          "script",
          "audioUrl",
          "source"
        ]
      },
      "QaResponse": {
        "type": "object",
        "properties": {
          "answer": {
            "type": "string"
          },
          "audioUrl": {
            "type": "string",
            "description": "Accessible URL for the TTS audio of the answer"
          },
          "wordTimings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordTiming"
            }
          },
          "source": {
            "type": "string",
            "enum": [
              "faq",
              "cached",
              "openai",
              "fallback"
            ]
          },
          "relatedSlideId": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "answer",
          "audioUrl",
          "source"
        ]
      },
      "GenerationStatus": {
        "type": "object",
        "description": "A deck generation job. The single-job endpoint (`GET /api/decks/{deckId}/generate/status`) adds the row counts and timestamps; the deck list and the per-organization poll carry only the fields common to both.",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "currentSlide": {
            "type": "integer",
            "nullable": true,
            "description": "The slide that most recently STARTED processing; completed work is currentSlide \u2212 1"
          },
          "totalSlides": {
            "type": "integer",
            "nullable": true,
            "description": "0 until the job flips to processing"
          },
          "progress": {
            "type": "integer",
            "description": "0-100, derived from completed slides / totalSlides; 100 once settled"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "slidesCreated": {
            "type": "integer",
            "description": "Slide rows that exist for the deck right now. This is the signal to refresh on: currentSlide marks a slide's start, and the row lands a full slide's work later. Single-job endpoint only."
          },
          "faqsCreated": {
            "type": "integer",
            "description": "FAQ rows that exist right now. The job tracks no FAQ state; they are written in one batch after the last slide. Single-job endpoint only."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Single-job endpoint only"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Single-job endpoint only"
          }
        },
        "required": [
          "jobId",
          "status",
          "currentSlide",
          "totalSlides",
          "progress"
        ]
      },
      "Image": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "filename": {
            "type": "string"
          },
          "s3Key": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Presigned URL for the image"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organizationId",
          "filename",
          "s3Key",
          "mimeType",
          "size",
          "url",
          "createdAt"
        ]
      },
      "Voice": {
        "type": "object",
        "properties": {
          "voice_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "preview_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "labels": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "voice_id",
          "name",
          "category"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "email",
          "name"
        ]
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "isLibraryAuthor": {
            "type": "boolean",
            "description": "Whether this organization can publish shared library templates."
          },
          "welcomeSeenAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the org first exited the welcome wizard (saved or skipped the confirm-info step). `null` for organizations that have never completed the wizard."
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CompanyContact": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "zip": {
            "type": "string",
            "nullable": true
          },
          "licenseNumber": {
            "type": "string",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "KbProfile": {
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string",
            "format": "uuid"
          },
          "tagline": {
            "type": "string",
            "nullable": true
          },
          "about": {
            "type": "string",
            "nullable": true
          },
          "trustSignals": {
            "type": "string",
            "nullable": true
          },
          "serviceCoverage": {
            "type": "string",
            "nullable": true
          },
          "answerStyle": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "KbDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenantId": {
            "type": "string",
            "format": "uuid"
          },
          "filename": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "contentType": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "uploading",
              "pending",
              "processing",
              "ready",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "tenantId",
          "filename",
          "contentType",
          "sizeBytes",
          "status",
          "createdAt"
        ]
      },
      "ActionConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deckId": {
            "type": "string",
            "format": "uuid"
          },
          "actionType": {
            "type": "string"
          },
          "templateMarkdown": {
            "type": "string"
          },
          "disclosuresMarkdown": {
            "type": "string",
            "nullable": true
          },
          "requirementsJson": {
            "type": "object",
            "nullable": true
          },
          "repName": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "deckId",
          "actionType",
          "templateMarkdown",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "IntroConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deckId": {
            "type": "string",
            "format": "uuid"
          },
          "backgroundImage": {
            "type": "string",
            "description": "S3 key or URL for intro background image"
          },
          "headline": {
            "type": "string"
          },
          "subtitle": {
            "type": "string",
            "nullable": true
          },
          "ctaButtonLabel": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "deckId",
          "backgroundImage",
          "headline"
        ]
      },
      "NotificationSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "channel": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "console"
            ]
          },
          "channelConfig": {
            "type": "object",
            "description": "Channel-specific configuration (e.g. URL for webhook, toEmails for email)"
          },
          "deckId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "eventType",
          "channel",
          "channelConfig",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "EventLogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string"
          },
          "aggregateType": {
            "type": "string"
          },
          "aggregateId": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "description": "Event payload. Carries identifiers (e.g. `presentationId`, `deliveryId`), never contact details such as email addresses. On entries with `archivedAt` set, the payload is reduced to identifier and classification fields; question and answer text is removed."
          },
          "recipientEmail": {
            "type": "string",
            "nullable": true,
            "description": "Present on `email.sent` entries only. The recipient of that delivery, resolved from the delivery attempt referenced by the payload's `deliveryId`. `null` when the delivery attempt has no recipient on record."
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Set when the entry has aged past the 90-day retention window. The entry stays in the log, but its payload keeps identifier and classification fields only. For `question.asked` and `question.escalated`, the question and answer text is removed. `null` for entries still inside the window."
          }
        },
        "required": [
          "id",
          "eventType",
          "aggregateType",
          "aggregateId",
          "occurredAt"
        ]
      },
      "ProductSlideData": {
        "type": "object",
        "description": "Good/better/best product pricing tiers for a product pricing slide.",
        "properties": {
          "good": {
            "type": "object",
            "nullable": true
          },
          "better": {
            "type": "object",
            "nullable": true
          },
          "best": {
            "type": "object",
            "nullable": true
          },
          "subtitle": {
            "type": "string",
            "nullable": true
          },
          "brandLogo": {
            "type": "string",
            "nullable": true,
            "deprecated": true,
            "description": "Deprecated. The product pricing slide always renders the deck's branding logo (set via `PUT /api/decks/{deckId}/branding`). This field is still accepted and stored, but the viewer and editor ignore it."
          },
          "disclaimer": {
            "type": "string",
            "nullable": true
          },
          "defaultSelectedTier": {
            "type": "string",
            "enum": [
              "good",
              "better",
              "best"
            ],
            "nullable": true
          }
        }
      },
      "Font": {
        "type": "object",
        "properties": {
          "family": {
            "type": "string",
            "example": "Inter"
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "category": {
            "type": "string",
            "example": "sans-serif"
          }
        },
        "required": [
          "family",
          "variants",
          "category"
        ]
      },
      "TourState": {
        "type": "object",
        "description": "Per-user state for the presentations onboarding modal (ENG-641; versioned in ENG-636). The modal shows at most once per user across devices per content version. The show/hide decision keys on `tourVersion`: whenever it is less than the current content version, the modal is shown. `tourCompletedAt` means the user clicked the \"Get Started\" button on the single-screen video modal; `tourDismissedAt` covers every other close (X, Esc, navigation, or a silent legacy backfill from the old per-browser `localStorage` flag). Both timestamps are written once and never cleared, so they preserve the first-ever moment even after later content versions are acknowledged.",
        "properties": {
          "tourCompletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp of the first-ever completion. `null` until the user clicks \"Get Started\" for the first time. Never overwritten by a later version acknowledgement."
          },
          "tourDismissedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp of the first-ever dismissal. `null` until dismissed. Never overwritten by a later version acknowledgement."
          },
          "tourVersion": {
            "type": "integer",
            "description": "Highest onboarding content version the user has acknowledged. `0` = never onboarded, `1` = illustrated multi-step tour (ENG-641), `2` = Wistia explainer video (ENG-636). The modal shows whenever this is below the current content version. Bumping the current version re-shows the modal to every user exactly once."
          }
        },
        "required": [
          "tourCompletedAt",
          "tourDismissedAt",
          "tourVersion"
        ]
      }
    }
  },
  "paths": {
    "/api/activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "List recent activity",
        "description": "Returns the 10 most recent presentation events for your organization, enriched with the homeowner name, address, and template ID for deep-linking.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent activity events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityEvent"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks": {
      "get": {
        "tags": [
          "Decks"
        ],
        "summary": "List decks",
        "description": "Returns all decks for the authenticated organization, ordered by most recently created.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of decks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "decks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeckSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Decks"
        ],
        "summary": "Create a deck",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "structured",
                      "image-based"
                    ],
                    "default": "structured"
                  },
                  "deckContext": {
                    "type": "string",
                    "description": "Background information to guide AI narration generation (e.g. audience, purpose)"
                  },
                  "voiceProvider": {
                    "type": "string",
                    "enum": [
                      "elevenlabs",
                      "openai"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deck created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deck": {
                      "$ref": "#/components/schemas/Deck"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks/generation-status": {
      "get": {
        "tags": [
          "Generation"
        ],
        "summary": "Poll generation status for every deck",
        "description": "The latest unsettled generation job for every deck in the organization, keyed by deck id. Completed jobs are omitted, so a deck absent from the map has nothing running. Cheap enough to poll while a template is being built \u2014 unlike `GET /api/decks`, it carries no preview URLs.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Unsettled jobs keyed by deck id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statuses": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/GenerationStatus"
                      }
                    }
                  },
                  "required": [
                    "statuses"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks/import": {
      "post": {
        "tags": [
          "Decks"
        ],
        "summary": "Import a presentation as a deck",
        "description": "Imports a slide presentation and creates a fully persisted image-based deck from it. Each slide is rendered to a PNG image, and speaker notes become the editable narration script for that slide (the original notes are retained separately). The original source file and rendered slide images are stored alongside the deck and removed when the deck is deleted.\n\nThe `source` query parameter selects the import format. `pptx` (PowerPoint) is currently the only supported source. PowerPoint files are limited to 25 MB and 50 slides, and the request body as a whole is limited to 30 MB.\n\nImports are atomic: if any step fails, no deck or slides are created and any stored files are cleaned up. Non-fatal issues (for example, a slide that rendered with reduced fidelity) are reported in the `import.warnings` array of the response.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pptx"
              ]
            },
            "description": "Slide import source format. Only `pptx` is currently supported."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "file"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Name for the new deck.",
                    "example": "Spring Roofing Pitch"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "Optional deck description."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The presentation file. For `source=pptx`, exactly one `.pptx` file up to 25 MB with at most 50 slides."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deck created from the imported presentation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deck",
                    "import"
                  ],
                  "properties": {
                    "deck": {
                      "$ref": "#/components/schemas/Deck"
                    },
                    "import": {
                      "type": "object",
                      "required": [
                        "id",
                        "source",
                        "status",
                        "warnings"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifier of the import record."
                        },
                        "source": {
                          "type": "string",
                          "example": "pptx"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "succeeded"
                          ],
                          "description": "Always `succeeded` in a 201 response. Failed imports return an error status code instead."
                        },
                        "warnings": {
                          "type": "array",
                          "description": "Non-fatal issues encountered during the import.",
                          "items": {
                            "type": "object",
                            "required": [
                              "code",
                              "message"
                            ],
                            "properties": {
                              "code": {
                                "type": "string",
                                "example": "missing_speaker_notes"
                              },
                              "message": {
                                "type": "string"
                              },
                              "slideIndex": {
                                "type": "integer",
                                "description": "Zero-based index of the affected slide, when the warning applies to a single slide."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The `code` field identifies the problem: `source_required` (missing `source` query parameter), `unsupported_source` (the response also includes a `supportedSources` array), `invalid_form_data`, `invalid_metadata`, or `invalid_pptx` (wrong extension, media type, or unreadable file).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request too large. The request body exceeds 30 MB (`request_too_large`) or the PowerPoint file exceeds 25 MB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The presentation could not be converted into a deck: it contains no slides (`empty_import`) or a slide failed to render (`invalid_rendered_slide`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error (`deck_import_failed`). No deck is created and uploaded files are cleaned up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks/{deckId}": {
      "get": {
        "tags": [
          "Decks"
        ],
        "summary": "Get a deck",
        "description": "Returns the full deck including slides, FAQs, branding, and Q&A settings.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Full deck data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deck": {
                      "$ref": "#/components/schemas/Deck"
                    },
                    "slides": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Slide"
                      }
                    },
                    "faqs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Faq"
                      }
                    },
                    "branding": {
                      "nullable": true,
                      "$ref": "#/components/schemas/Branding"
                    },
                    "qaSettings": {
                      "nullable": true,
                      "$ref": "#/components/schemas/QaSettings"
                    },
                    "presentationsCount": {
                      "type": "integer"
                    },
                    "generation": {
                      "$ref": "#/components/schemas/GenerationStatus",
                      "nullable": true,
                      "description": "The latest unsettled generation job; null once it completed or if the deck was never generated"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Decks"
        ],
        "summary": "Update a deck",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "structured",
                      "image-based"
                    ]
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "deckContext": {
                    "type": "string",
                    "nullable": true
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true,
                    "description": "Replaces the deck's tag list. Pass an empty array or `null` to clear all tags. Falsy entries are filtered out."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated deck",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deck": {
                      "$ref": "#/components/schemas/Deck"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Decks"
        ],
        "summary": "Delete a deck",
        "description": "Permanently deletes a deck and all associated slides, FAQs, and branding. For decks created via `POST /api/decks/import`, the stored source file and rendered slide images are removed as well.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Deck deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks/{deckId}/slides": {
      "get": {
        "tags": [
          "Slides"
        ],
        "summary": "List slides",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Ordered list of slides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slides": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Slide"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Slides"
        ],
        "summary": "Create a slide",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "slideId",
                  "title",
                  "narrationScript"
                ],
                "properties": {
                  "slideId": {
                    "type": "string",
                    "description": "Human-readable identifier (e.g. \"slide-1\")"
                  },
                  "title": {
                    "type": "string"
                  },
                  "bullets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "narrationScript": {
                    "type": "string"
                  },
                  "slideContext": {
                    "type": "string",
                    "nullable": true
                  },
                  "audioUrl": {
                    "type": "string",
                    "description": "S3 key for pre-recorded audio"
                  },
                  "heroImg": {
                    "type": "string",
                    "nullable": true,
                    "description": "S3 key for slide image"
                  },
                  "orderIndex": {
                    "type": "integer"
                  },
                  "slideType": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "product_pricing_v1"
                    ],
                    "default": "standard"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Slide created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slide": {
                      "$ref": "#/components/schemas/Slide"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks/{deckId}/slides/reorder": {
      "put": {
        "tags": [
          "Slides"
        ],
        "summary": "Reorder slides",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "slideIds"
                ],
                "properties": {
                  "slideIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Full ordered array of slide UUIDs. Position in array becomes the new orderIndex."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Slides reordered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/slides/{slideId}": {
      "put": {
        "tags": [
          "Slides"
        ],
        "summary": "Update a slide",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slideId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the slide"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "bullets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "narrationScript": {
                    "type": "string"
                  },
                  "slideContext": {
                    "type": "string",
                    "nullable": true
                  },
                  "audioUrl": {
                    "type": "string"
                  },
                  "heroImg": {
                    "type": "string",
                    "nullable": true
                  },
                  "orderIndex": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated slide",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slide": {
                      "$ref": "#/components/schemas/Slide"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Slides"
        ],
        "summary": "Delete a slide",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "slideId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the slide"
          }
        ],
        "responses": {
          "200": {
            "description": "Slide deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks/{deckId}/faqs": {
      "get": {
        "tags": [
          "FAQs"
        ],
        "summary": "List FAQs",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "FAQs with pre-generated audio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "faqs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Faq"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "FAQs"
        ],
        "summary": "Create a FAQ",
        "description": "Creates a FAQ and automatically generates TTS audio for the answer.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userQuestion",
                  "cannedAnswer"
                ],
                "properties": {
                  "userQuestion": {
                    "type": "string"
                  },
                  "cannedAnswer": {
                    "type": "string"
                  },
                  "relatedSlideId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "FAQ created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "faq": {
                      "$ref": "#/components/schemas/Faq"
                    },
                    "warning": {
                      "type": "string",
                      "description": "Present if audio generation failed (FAQ is still saved)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/faqs/{faqId}": {
      "put": {
        "tags": [
          "FAQs"
        ],
        "summary": "Update a FAQ",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "faqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the FAQ"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userQuestion": {
                    "type": "string"
                  },
                  "cannedAnswer": {
                    "type": "string"
                  },
                  "relatedSlideId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated FAQ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "faq": {
                      "$ref": "#/components/schemas/Faq"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "FAQs"
        ],
        "summary": "Delete a FAQ",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "faqId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the FAQ"
          }
        ],
        "responses": {
          "200": {
            "description": "FAQ deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks/{deckId}/branding": {
      "get": {
        "tags": [
          "Branding"
        ],
        "summary": "Get branding",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Branding configuration, or null if not yet set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branding": {
                      "nullable": true,
                      "$ref": "#/components/schemas/Branding"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Branding"
        ],
        "summary": "Upsert branding",
        "description": "Creates or replaces the branding configuration for a deck.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "palette",
                  "cta"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "logo": {
                    "type": "string",
                    "nullable": true,
                    "description": "S3 key for logo image"
                  },
                  "avatar": {
                    "type": "string",
                    "nullable": true,
                    "description": "S3 key for rep avatar image"
                  },
                  "chatName": {
                    "type": "string",
                    "nullable": true
                  },
                  "chatGreeting": {
                    "type": "string",
                    "nullable": true
                  },
                  "palette": {
                    "$ref": "#/components/schemas/BrandingPalette"
                  },
                  "cta": {
                    "$ref": "#/components/schemas/BrandingCta"
                  },
                  "fonts": {
                    "type": "object"
                  },
                  "contact": {
                    "type": "object",
                    "properties": {
                      "phone": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved branding",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branding": {
                      "$ref": "#/components/schemas/Branding"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks/{deckId}/qa-settings": {
      "get": {
        "tags": [
          "Q&A"
        ],
        "summary": "Get Q&A settings",
        "description": "Returns the customizable resume and transition prompts for the deck's Q&A experience.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Q&A settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qaSettings": {
                      "nullable": true,
                      "$ref": "#/components/schemas/QaSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Q&A"
        ],
        "summary": "Update Q&A settings",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resumePromptText": {
                    "type": "string"
                  },
                  "resumeVoiceId": {
                    "type": "string"
                  },
                  "transitionPromptText": {
                    "type": "string"
                  },
                  "transitionVoiceId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Q&A settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qaSettings": {
                      "$ref": "#/components/schemas/QaSettings"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/decks/{deckId}/generate": {
      "post": {
        "tags": [
          "Generation"
        ],
        "summary": "Start AI generation from images",
        "description": "Accepts uploaded slide images, runs them through GPT-4o Vision to extract content, generates narration scripts, and synthesizes audio. Returns a job ID \u2014 poll `/api/decks/{deckId}/generate/status` for progress.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
[...]
